<div class="container my-5">

    <div class="row mb-5">
        <div class="col-sm-8">
            <h3 class="font-weight-semibold">Piraci z karaibów - Klątwa czarnej perły</h3>
        </div>
        <div class="col-sm-4 text-right">
            <h4>12.11.2020 20:30</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <img src="assets/img/movie.png" class="img-fluid" alt="Piraci z karaibów - Klątwa czarnej perły">
        </div>
        
        <div class="col-sm-9">
            <p>Opis filmu tutaj</p>

            <h4>Wolne miejsca</h4>
            Czas trwania:

            <button class="btn btn-primary btn-lg">Kup bilet</button>
        </div>
    </div>

</div>
    