<div class="container my-5">

    <div *ngIf="movie" id="movie_container">

        <app-movie-form #formnew buttonText="Zapisz film" [bindMovie]="movie" (onSubmitForm)="onUpdateMovie($event)"></app-movie-form>

        <div class="row mb-5">
            <div class="col-sm-8">
                <h3 class="font-weight-semibold">{{ movie.title }}</h3>
            </div>
            <div class="col-sm-4 text-right">
                <button class="btn btn-primary" (click)="formnew.toggle()">Edytuj</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <img src="assets/img/movie.png" class="img-fluid" alt="{{ movie.title }}">
            </div>
            
            <div class="col-sm-9">
                <p>{{ movie.description }}</p>

                Czas trwania: {{ movie.duration }}min
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-sm-12">
                <h4>Seanse</h4>
            </div>
            <div class="col-sm-12">

                <div class="row row-cols-1 row-cols-md-3">
        
                    <div class="col mb-3" *ngFor="let filmshow of this.filmshows">
                        <app-filmshow-meta [filmshow]="filmshow"></app-filmshow-meta>
                    </div>
            
                </div>

                <div *ngIf="!filmshows" class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        
    </div>

</div>
    