<div class="card h-100">
    <div class="row no-gutters">
        <div class="col-md-4 align-self-center">
            <img src="{{ filmshow.movie.image || 'assets/img/movie.png' }}" class="card-img" alt="{{ filmshow.movie.title }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><a [routerLink]="['/filmshow/details', filmshow.id]" class="no-style">{{ filmshow.movie.title }}</a></h5>
                <p class="card-text mb-0">{{ filmshow.movie.description | descTruncate: 60 }}</p>
                <p class="card-text text-muted mb-0">{{ filmshow.date | date: 'dd.MM.yyyy HH:mm'}}</p>
                <div class="text-right">
                    <small class="card-text font-weight-bold text-success">5 wolnych miejsc</small>
                    <button class="btn btn-primary ml-2 my-2">Kup bilet</button>
                </div>
            </div>
        </div>
    </div>
</div>