<form [class.d-none]="!this.show" [formGroup]="filmshowForm">
    <div class="alert alert-success" [class.d-none]="this.success_msg == undefined" role="alert">
        {{ success_msg }}
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="filmshow_movie">Film</label>
            <select class="form-control" id="filmshow_movie" formControlName="movie_id" required>
                <option *ngFor="let movie of this.movies$ | async" [value]="movie.id">{{ movie.title }}</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="filmshow_date">Data</label>
            <input type="datetime" class="form-control" id="filmshow_date" formControlName="date" required />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="filmshow_room">Sala</label>
            <select class="form-control" id="filmshow_room" formControlName="room_id" required>
                <option *ngFor="let room of this.rooms$ | async" [value]="room.num">Sala {{ room.num }} (Pojemność: {{ room.seats_cnt }})</option>
            </select>
        </div>
    </div>

    <button class="btn btn-success" (click)="this.addFilmshowClick($event)">Dodaj seans</button>

</form>